.hide-text {
	text-indent: -9999px;
}

.clear {
    clear: both;
    display: block;
  color: black;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

em {
  font-family:'suisse_intlitalic';
  font-style: initial;
}

.plyr {
  position:relative;
  margin-bottom:15px;
  .plyr__control {
    background-color: black;
    &:hover {
      background-color: black!important;
      opacity:0.6;
    }
  }
}

p {
  .right {
    text-align:right;
    width: 100%;
    float: right;
    margin-bottom: 35px;
    margin-top:1rem;
  }
  a {
    &:hover {
      opacity:0.7;
      transition:all 0.3 linear
    }
  }
  &.flex {
    display:flex;
    align-items:center;
    justify-content:space-between;
    @media only screen and (max-width: 767px) {
      display:block;
    }
    img {
      width:20%;
      @media only screen and (max-width: 767px) {
        width:100%;
        max-width:200px;
      }
    }
  }
}

.credits-table {
  p {
    font-size:14px;
    line-height:1.4;
    margin-bottom:0;
  }
  .row {
    display:flex;
    margin-top:1rem;
    justify-content:space-between;
    @media only screen and (max-width: 767px) {
      display:block;
    }
  }
  .column {
    width:48%;
    @media only screen and (max-width: 767px) {
      width:100%;
      &:last-child {
        margin-top:16px;
      }
    }
  }
}


