.center {
  text-align: center;
}

.padding {
  padding: 75px 0 150px;

  @include max-screen(767px) {
    padding: 25px 0;
  }
}

.padding-top {
  padding-top: 75px;

  @include max-screen(767px) {
    padding-top: 40px;
  }

}

.padding-bottom {
  padding-bottom: 75px;

  @include max-screen(767px) {
    padding-bottom: 60px;
  }
}

.lock-scroll {
  overflow: hidden;
}

address {
  font-style: normal;
}

.header-top {
  margin-bottom: 65px;
}

.non-italics {
  font-style: normal;
}

.credit {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 20px;

  @include max-screen(767px) {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

}