html {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $primary-font;
  padding: 0;
  margin: 0;
  text-rendering: auto;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $main-background;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

main, section, header, footer, aside {
  display: block;
}