h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0px;
}

p {
  color: $heading-color;
  margin-bottom: 35px;
  font-weight: 400;
  letter-spacing: -1px;
}

h1 {
  font-family: $primary-font-semi;
  font-size: 2.125rem;
  line-height: 2.5625rem;
  font-weight: 600;

  @include max-screen(767px) {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: normal;
    font-family: $primary-font-semi;
  }
}

h2 {
  font-family: $primary-font-semi;
  font-size: 2.125rem;
  line-height: 2.5625rem;
  font-weight: 600;
  margin-bottom: 40px;

  @include max-screen(767px) {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: normal;
    font-family: $primary-font-semi;
  }
}

h3 {
  font-family: $primary-font;
  font-size: 1.5rem;
  line-height: 2rem;

  @include max-screen(767px) {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: normal;
    font-family: $primary-font-semi;
  }
}

h4, h5, h6 {
  font-family: $primary-font;
  font-size: 1.5rem;
  line-height: 2rem;

  @include max-screen(767px) {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: normal;
    font-family: $primary-font-semi;
  }
}

p {
  font-family: $primary-font;
  font-size: 1.5rem;
  line-height: 2rem;


  @include max-screen(767px) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}