.logos {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include max-screen(767px) {
    justify-content: space-between;
  }

  li {
    @include flex-vertical-center;
    padding: 0;
    margin-bottom: 50px;
    &.wide {
      width:26%;
    }
    &.thin {
      width:16%;
    }
    

    @include max-screen(767px) {
      &.wide {
        width:50%;
      }
      &.thin {
        width:35%;
      }
    }
  }
}