nav {
  position: fixed;
  bottom:0;
  left: 0;
}

.menu {
  display: block;
  width: 100%;
  z-index: 10;
  pointer-events: none;

  &:not(.is-collapsed) {
    li {
      a {
        @include max-screen(767px) {
          height:100px;
        }
      }
      .close-menu {
        @include max-screen(767px) {
          height:100px;
        }
        &:before {
          @include max-screen(767px) {
            height:100px;
          }
        }
      }
    }
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    background-color: $black;
    border-top: 1px solid $white;
    height: 100px;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 500;
    pointer-events: auto;

    @include max-screen(767px) {
      height: 100px;
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  } 

    li {
      a {
        color: $white; 
        @extend .menu-item;
        @include max-screen(767px) {

        }
      }
    }

  >ul {
    transform: translateY(0);
    opacity: 1;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;


    li:first-of-type {
      a {
        border-top: none;
      }
    }
  }

  .active-section {
    transform: translateY(100%);
    color: $white;
    display: flex;
    width: 100%;
    opacity: 0;
    white-space: pre;
    position: relative;
    transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;
    cursor: pointer;
    border-top: none;
    overflow: hidden;
    bottom: 0;
    position: absolute;
    height: 100px;
    background: $black;

    @include max-screen(767px) {
      height: 100px;
    }

    &:after {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      border: none;
      color: white;
      content: '';
      background-image: url("../img/JHG_Plus.svg");
      background-size: 50%;
      background-position: center center;
      background-repeat: no-repeat;
      text-align: center;

      @include max-screen(767px) {
        width: 70px;
        height: 100px;
      }
    }

    li {
      margin: 0;
      @extend .menu-item;
      border-top: none;
      color: $white;
    }

    ul {
      transition: transform 500ms ease-in-out;
      width: 100%;
      margin: 0;
      transform: translateY(-20px);
    }

    &.introduction {
      ul {
        transform: translateY(-20px);
      }
    }

    &.gallery1 {
      ul {
        transform: translateY(-120px);

        @include max-screen(767px) {
          transform: translateY(-120px);
        }
      }
    }

    &.gallery2 {
      ul {
        transform: translateY(-220px);

        @include max-screen(767px) {
          transform: translateY(-220px);
        }
      }
    }

    &.gallery3 {
      ul {
        transform: translateY(-320px);

        @include max-screen(767px) {
        transform: translateY(-320px);
        }
      }
    }

    &.gallery4 {
      ul {
        transform: translateY(-420px);

        @include max-screen(767px) {
        transform: translateY(-420px);
        }
      }
    }

    &.abouttheartist {
      ul {
        transform: translateY(-520px);

        @include max-screen(767px) {
          transform: translateY(-520px);
        }
      }
    }

    &.behindthescenes {
      ul {
        transform: translateY(-620px);

        @include max-screen(767px) {
          transform: translateY(-620px);
        }
      }
    }
  }
 
  &.is-collapsed {
    .active-section {
      opacity: 1;
      transform: translateY(0);
    }
    >ul {
      opacity: 0;
      transform: translateY(calc(100% + 100px));
      @include max-screen(767px) {
        transform: translateY(calc(100% + 70px));
      }
    }
  }

  .section-subtitle {
    display: block;
    font-style: italic;
  }
  
  .close-menu {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    color: white;
    font-size: 50px;
    pointer-events: auto;
    cursor: pointer;
    z-index: 9999;

    &:before {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      border: none;
      color: white;
      content: '';
      background-image: url("../img/JHG_Minus.svg");
      background-size: 50%;
      background-position: center center;
      background-repeat: no-repeat;
      text-align: center;
    }
    @include max-screen(767px) {
      width: 70px;
      height: 100px;
      &:before {
        width: 70px;
        height: 100px;
      }
    }
  }
}