.section {
  margin-bottom: 100px;
  word-wrap: break-word;

  &:before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 1.5em;
    margin-top: -1.5em;
  }

  &#engagement {

    margin-bottom: 200px;

    @include max-screen(767px) {
      margin-bottom: 0;
    }
  }
}