.slider {
  margin-bottom: 50px;
  position: relative;

   &__item {
     position: relative;
     height: auto;

     img {
       width: 100%;
       height: 100%;
       max-width: 100%;
       object-fit: cover;
       margin-bottom: 15px;
     }
   }

  figcaption {
    margin-bottom: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 80%;
    letter-spacing: -1px;

    @include max-screen(767px) {
      font-size: 1.25rem;
      line-height: 1.85rem;
    }
  }

  &__counter {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: $black;
    pointer-events: none;
  }
}
