// Palette

$white:		      #FFFFFF;
$black: 	      #000000;
$grey-light:      rgba(0,0,0,0.1);

// Theme styles

$brand:             $black;

$font-color:        $black;
$heading-color:     $black;
$link-color:        $black;
$link-hover-color:  $brand;

$border-color:      rgba(0,0,0,0.5);

$main-background:   $white;

// Footer

$footer-background: $black;
$footer-text:       $white;

// Header

$header-color:      $grey-light;
$menu-link:         $white;
$menu-link-current: $white;
$menu-link-hover:   $white;