@font-face {
  font-family: 'suisse_intlregular';
  src: url('../fonts/suisseintl-regular-webfont.woff2') format('woff2'),
  url('../fonts/suisseintl-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'suisse_intlitalic';
  src: url('../fonts/suisseintl-regularitalic-webfont.woff2') format('woff2'),
  url('../fonts/suisseintl-regularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'suisse_intlsemi_bold';
  src: url('../fonts/suisseintl-semibold-webfont.woff2') format('woff2'),
  url('../fonts/suisseintl-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$primary-font: 'suisse_intlregular';
$primary-font-semi: 'suisse_intlsemi_bold';